In [2]:
# Loading the packages I will need:

print("Loading packages...", end = '')

import numpy as np
from pyunpack import Archive 
import pandas as pd 
import missingno as msno
import os
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error 

import zipfile
import shutil  # For handling directories


print("Successful.")

Loading packages...Successful.

Load CSV files

In [3]:
# Path to the data folder
data_folder = "data"

# Initialize a list to store DataFrames
dataframes = []

# Traverse through the year and month folders to find CSV files
for year_folder in os.listdir(data_folder):
    year_path = os.path.join(data_folder, year_folder)
    if os.path.isdir(year_path):
        for month_folder in os.listdir(year_path):
            month_path = os.path.join(year_path, month_folder)
            if os.path.isdir(month_path):
                for file in os.listdir(month_path):
                    if file.endswith('.csv'):
                        file_path = os.path.join(month_path, file)
                        df = pd.read_csv(file_path)
                        dataframes.append(df)

# Check if any CSV files were loaded
if not dataframes:
    print("No CSV files found in the data folder.")
else:
    # Display the list of CSV files loaded
    print(f"Loaded {len(dataframes)} CSV files.")

C:\Users\DELL\AppData\Local\Temp\ipykernel_8492\1526207693.py:17: DtypeWarning: Columns (4,11) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\DELL\AppData\Local\Temp\ipykernel_8492\1526207693.py:17: DtypeWarning: Columns (4,11) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\DELL\AppData\Local\Temp\ipykernel_8492\1526207693.py:17: DtypeWarning: Columns (4,11) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\DELL\AppData\Local\Temp\ipykernel_8492\1526207693.py:17: DtypeWarning: Columns (4,11) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\DELL\AppData\Local\Temp\ipykernel_8492\1526207693.py:17: DtypeWarning: Columns (4,11) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\DELL\AppData\Local\Temp\ipykernel_8492\1526207693.py:17: DtypeWarning: Columns (4,11) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\DELL\AppData\Local\Temp\ipykernel_8492\1526207693.py:17: DtypeWarning: Columns (4,11) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\DELL\AppData\Local\Temp\ipykernel_8492\1526207693.py:17: DtypeWarning: Columns (4,11) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\DELL\AppData\Local\Temp\ipykernel_8492\1526207693.py:17: DtypeWarning: Columns (4,11) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\DELL\AppData\Local\Temp\ipykernel_8492\1526207693.py:17: DtypeWarning: Columns (4,11) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\DELL\AppData\Local\Temp\ipykernel_8492\1526207693.py:17: DtypeWarning: Columns (4,11) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\DELL\AppData\Local\Temp\ipykernel_8492\1526207693.py:17: DtypeWarning: Columns (4,11) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\DELL\AppData\Local\Temp\ipykernel_8492\1526207693.py:17: DtypeWarning: Columns (4,11) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\DELL\AppData\Local\Temp\ipykernel_8492\1526207693.py:17: DtypeWarning: Columns (4,11) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\DELL\AppData\Local\Temp\ipykernel_8492\1526207693.py:17: DtypeWarning: Columns (4,11) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\DELL\AppData\Local\Temp\ipykernel_8492\1526207693.py:17: DtypeWarning: Columns (4,11) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\DELL\AppData\Local\Temp\ipykernel_8492\1526207693.py:17: DtypeWarning: Columns (4,11) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\DELL\AppData\Local\Temp\ipykernel_8492\1526207693.py:17: DtypeWarning: Columns (4,11) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\DELL\AppData\Local\Temp\ipykernel_8492\1526207693.py:17: DtypeWarning: Columns (4,11) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\DELL\AppData\Local\Temp\ipykernel_8492\1526207693.py:17: DtypeWarning: Columns (4,11) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\DELL\AppData\Local\Temp\ipykernel_8492\1526207693.py:17: DtypeWarning: Columns (4,11) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\DELL\AppData\Local\Temp\ipykernel_8492\1526207693.py:17: DtypeWarning: Columns (4,11) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\DELL\AppData\Local\Temp\ipykernel_8492\1526207693.py:17: DtypeWarning: Columns (4,11) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\DELL\AppData\Local\Temp\ipykernel_8492\1526207693.py:17: DtypeWarning: Columns (4,11) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\DELL\AppData\Local\Temp\ipykernel_8492\1526207693.py:17: DtypeWarning: Columns (4,11) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\DELL\AppData\Local\Temp\ipykernel_8492\1526207693.py:17: DtypeWarning: Columns (4,11) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\DELL\AppData\Local\Temp\ipykernel_8492\1526207693.py:17: DtypeWarning: Columns (4,11) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\DELL\AppData\Local\Temp\ipykernel_8492\1526207693.py:17: DtypeWarning: Columns (4,11) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\DELL\AppData\Local\Temp\ipykernel_8492\1526207693.py:17: DtypeWarning: Columns (4,11) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\DELL\AppData\Local\Temp\ipykernel_8492\1526207693.py:17: DtypeWarning: Columns (4,11) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\DELL\AppData\Local\Temp\ipykernel_8492\1526207693.py:17: DtypeWarning: Columns (4,11) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\DELL\AppData\Local\Temp\ipykernel_8492\1526207693.py:17: DtypeWarning: Columns (4,11) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\DELL\AppData\Local\Temp\ipykernel_8492\1526207693.py:17: DtypeWarning: Columns (4,11) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\DELL\AppData\Local\Temp\ipykernel_8492\1526207693.py:17: DtypeWarning: Columns (4,11) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\DELL\AppData\Local\Temp\ipykernel_8492\1526207693.py:17: DtypeWarning: Columns (4,11) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\DELL\AppData\Local\Temp\ipykernel_8492\1526207693.py:17: DtypeWarning: Columns (4,11) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\DELL\AppData\Local\Temp\ipykernel_8492\1526207693.py:17: DtypeWarning: Columns (4,11) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\DELL\AppData\Local\Temp\ipykernel_8492\1526207693.py:17: DtypeWarning: Columns (4,11) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\DELL\AppData\Local\Temp\ipykernel_8492\1526207693.py:17: DtypeWarning: Columns (4,11) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\DELL\AppData\Local\Temp\ipykernel_8492\1526207693.py:17: DtypeWarning: Columns (4,11) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\DELL\AppData\Local\Temp\ipykernel_8492\1526207693.py:17: DtypeWarning: Columns (4,11) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\DELL\AppData\Local\Temp\ipykernel_8492\1526207693.py:17: DtypeWarning: Columns (4,11) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\DELL\AppData\Local\Temp\ipykernel_8492\1526207693.py:17: DtypeWarning: Columns (4,11) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\DELL\AppData\Local\Temp\ipykernel_8492\1526207693.py:17: DtypeWarning: Columns (4,11) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\DELL\AppData\Local\Temp\ipykernel_8492\1526207693.py:17: DtypeWarning: Columns (4,11) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\DELL\AppData\Local\Temp\ipykernel_8492\1526207693.py:17: DtypeWarning: Columns (4,11) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\DELL\AppData\Local\Temp\ipykernel_8492\1526207693.py:17: DtypeWarning: Columns (4,11) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\DELL\AppData\Local\Temp\ipykernel_8492\1526207693.py:17: DtypeWarning: Columns (4,11) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\DELL\AppData\Local\Temp\ipykernel_8492\1526207693.py:17: DtypeWarning: Columns (4,11) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\DELL\AppData\Local\Temp\ipykernel_8492\1526207693.py:17: DtypeWarning: Columns (4,11) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\DELL\AppData\Local\Temp\ipykernel_8492\1526207693.py:17: DtypeWarning: Columns (4,11) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\DELL\AppData\Local\Temp\ipykernel_8492\1526207693.py:17: DtypeWarning: Columns (4,11) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

Loaded 161 CSV files.

Combine the Dataframes

In [4]:
# Check if any DataFrames were loaded
if not dataframes:
    print("No DataFrames to concatenate.")
else:
    # Combine all DataFrames into a single DataFrame
    combined_df = pd.concat(dataframes, ignore_index=True)

    # Display the combined DataFrame information
    combined_df.info()

    # Display the first few rows of the combined DataFrame to inspect
    print(combined_df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6517225 entries, 0 to 6517224
Data columns (total 15 columns):
 #   Column           Dtype
---  ------           -----
 0   TRDTYPE          int64
 1   USASTATE         object
 2   DEPE             object
 3   DISAGMOT         int64
 4   MEXSTATE         object
 5   CANPROV          object
 6   COUNTRY          int64
 7   VALUE            int64
 8   SHIPWT           int64
 9   FREIGHT_CHARGES  int64
 10  DF               float64
 11  CONTCODE         object
 12  MONTH            int64
 13  YEAR             int64
 14  COMMODITY2       float64
dtypes: float64(2), int64(8), object(5)
memory usage: 745.8+ MB
   TRDTYPE USASTATE  DEPE  DISAGMOT MEXSTATE CANPROV  COUNTRY    VALUE  \
0        1       AK  0115         5      NaN      XB     1220     4660
1        1       AK  0901         5      NaN      XO     1220    14360
2        1       AK  20XX         1       XX     NaN     2010  4293733
3        1       AK  20XX         3      NaN      XA     1220    28283
4        1       AK  20XX         3      NaN      XA     1220    29848

     SHIPWT  FREIGHT_CHARGES   DF CONTCODE  MONTH  YEAR  COMMODITY2
0         0               67  2.0        X      4  2020         NaN
1         0              282  1.0        X      4  2020         NaN
2  24971000                0  1.0        0      4  2020         NaN
3       443              563  1.0        X      4  2020         NaN
4        69              538  2.0        X      4  2020         NaN

In [5]:
combined_df.tail()

,TRDTYPE,USASTATE,DEPE,DISAGMOT,MEXSTATE,CANPROV,COUNTRY,VALUE,SHIPWT,FREIGHT_CHARGES,DF,CONTCODE,MONTH,YEAR,COMMODITY2
6517220,2,NaN,55XX,5,NaN,NaN,1220,4384342,7399,1883,NaN,0,9,2024,98.0
6517221,2,NaN,55XX,8,NaN,NaN,1220,50211,6350,3500,NaN,0,9,2024,98.0
6517222,2,NaN,60XX,8,NaN,NaN,1220,793390,80,500,NaN,0,9,2024,89.0
6517223,2,NaN,70XX,8,NaN,NaN,1220,233990301,0,0,NaN,0,9,2024,99.0
6517224,2,NaN,70XX,8,NaN,NaN,2010,224981722,0,0,NaN,0,9,2024,99.0

In [6]:
combined_df.head(7)

,TRDTYPE,USASTATE,DEPE,DISAGMOT,MEXSTATE,CANPROV,COUNTRY,VALUE,SHIPWT,FREIGHT_CHARGES,DF,CONTCODE,MONTH,YEAR,COMMODITY2
0,1,AK,0115,5,NaN,XB,1220,4660,0,67,2.0,X,4,2020,NaN
1,1,AK,0901,5,NaN,XO,1220,14360,0,282,1.0,X,4,2020,NaN
2,1,AK,20XX,1,XX,NaN,2010,4293733,24971000,0,1.0,0,4,2020,NaN
3,1,AK,20XX,3,NaN,XA,1220,28283,443,563,1.0,X,4,2020,NaN
4,1,AK,20XX,3,NaN,XA,1220,29848,69,538,2.0,X,4,2020,NaN
5,1,AK,20XX,3,NaN,XC,1220,6699,248,142,1.0,X,4,2020,NaN
6,1,AK,20XX,3,NaN,XC,1220,9103,15,208,2.0,X,4,2020,NaN

In [10]:
# Summary statistics
print("Summary statistics:")
print(combined_df.describe())

Summary statistics:
            TRDTYPE      DISAGMOT       COUNTRY         VALUE        SHIPWT  \
count  6.517225e+06  6.517225e+06  6.517225e+06  6.517225e+06  6.517225e+06
mean   1.335199e+00  4.762593e+00  1.532946e+03  2.945795e+06  1.200403e+06
std    4.720601e-01  1.260358e+00  3.863835e+02  3.786455e+07  4.073193e+07
min    1.000000e+00  1.000000e+00  1.220000e+03  0.000000e+00  0.000000e+00
25%    1.000000e+00  5.000000e+00  1.220000e+03  1.434300e+04  0.000000e+00
50%    1.000000e+00  5.000000e+00  1.220000e+03  7.220900e+04  0.000000e+00
75%    2.000000e+00  5.000000e+00  2.010000e+03  4.345660e+05  2.391000e+03
max    2.000000e+00  9.000000e+00  2.010000e+03  5.595625e+09  9.068700e+09

       FREIGHT_CHARGES            DF         MONTH          YEAR    COMMODITY2
count     6.517225e+06  4.332657e+06  6.517225e+06  6.517225e+06  5.016740e+06
mean      3.851583e+04  1.332170e+00  6.026550e+00  2.022036e+03  5.684526e+01
std       1.024961e+06  4.709918e-01  3.257693e+00  1.323106e+00  2.780686e+01
min       0.000000e+00  1.000000e+00  1.000000e+00  2.020000e+03  1.000000e+00
25%       0.000000e+00  1.000000e+00  3.000000e+00  2.021000e+03  3.300000e+01
50%       2.630000e+02  1.000000e+00  6.000000e+00  2.022000e+03  6.100000e+01
75%       2.900000e+03  2.000000e+00  9.000000e+00  2.023000e+03  8.400000e+01
max       2.487214e+08  2.000000e+00  1.200000e+01  2.024000e+03  9.900000e+01

In [11]:
# Check for missing values
print("Missing values in each column:")
print(combined_df.isnull().sum())

Missing values in each column:
TRDTYPE                  0
USASTATE            915116
DEPE               4101624
DISAGMOT                 0
MEXSTATE           4677264
CANPROV            3119497
COUNTRY                  0
VALUE                    0
SHIPWT                   0
FREIGHT_CHARGES          0
DF                 2184568
CONTCODE                 0
MONTH                    0
YEAR                     0
COMMODITY2         1500485
dtype: int64

want to check unique values in each column just to be on the safe side

In [9]:
# Check unique values for each column
for column in combined_df.columns:
    unique_values = combined_df[column].unique()
    print(f"Unique values in column {column}:")
    print(unique_values)
    print("\n")

Unique values in column TRDTYPE:
[1 2]


Unique values in column USASTATE:
['AK' 'AL' 'AR' 'AZ' 'CA' 'CO' 'CT' 'DC' 'DE' 'DU' 'FL' 'GA' 'HI' 'IA'
 'ID' 'IL' 'IN' 'KS' 'KY' 'LA' 'MA' 'MD' 'ME' 'MI' 'MN' 'MO' 'MS' 'MT'
 'NC' 'ND' 'NE' 'NH' 'NJ' 'NM' 'NV' 'NY' 'OH' 'OK' 'OR' 'PA' 'RI' 'SC'
 'SD' 'TN' 'TX' 'UT' 'VA' 'VT' 'WA' 'WI' 'WV' 'WY' nan]


Unique values in column DEPE:
['0115' '0901' '20XX' '2303' '2304' '2305' '2408' '2506' '3001' '3004'
 '3009' '3023' '30XX' '3101' '3103' '3104' '3106' '3126' '31XX' '3310'
 '3613' '3801' '3802' '4101' '4102' '41XX' '70XX' '0106' '01XX' '0701'
 '0708' '0712' '07XX' '09XX' '10XX' '17XX' '18XX' '19XX' '2006' '2301'
 '2310' '2401' '2402' '2403' '2404' '2503' '2507' '2601' '2604' '2608'
 '27XX' '3019' '3302' '33XX' '3401' '3403' '3422' '34XX' '3501' '35XX'
 '3604' '3803' '38XX' '5201' '5203' '52XX' '0209' '02XX' '0704' '3301'
 '3424' '5301' '55XX' '0715' '11XX' '24XX' '2501' '2603' '2605' '2606'
 '26XX' '2720' '2801' '29XX' '3011' '3020' '3318' '4115' '53XX' '0101'
 '0102' '0110' '0212' '13XX' '2302' '2307' '2504' '2505' '25XX' '2602'
 '2704' '28XX' '3002' '3003' '3005' '3007' '3008' '3013' '3025' '32XX'
 '3304' '3308' '3316' '3322' '3405' '3408' '3805' '3809' '3819' '3901'
 '39XX' '4105' '4110' '49XX' '5501' '3307' '45XX' '0104' '0211' '04XX'
 '1012' '1704' '80XX' '51XX' '0118' '0127' '14XX' '16XX' '3410' '36XX'
 '3808' '0108' '3306' '0105' '1003' '3012' '3321' '3323' '3404' '3014'
 '3423' '37XX' '3804' '0201' '0417' '2007' '3102' '0103' '0107' '0109'
 '0203' '0206' '3016' '3022' '3409' '3425' '3426' '3430' '3305' '3406'
 '3421' '3814' '1902' '3010' '3309' '3317' '0714' '15XX' '21XX' '54XX'
 '3407' '3413' '3414' '3415' '3416' '3417' '3419' '3420' '0207' '0904'
 '2406' '4104' '0112' '2383' '3701' '4103' '0121' '05XX' '2309' '23XX'
 '3303' '59XX' '3017' '3815' '3026' '3029' '3111' '1603' '3411' '3807'
 '3015' '4504' '1303' '3806' '0906' '3816' '0131' '0903' '1502' '3006' nan
 '2609' '3325' '0706' '3105' '3115' '60XX' '3427' '3324' '3384' '3842'
 '3018' '3818' '3882' '0905' '3433' '0182' '2481' '3082' '2407' '2502'
 '3843' '3434' '0111' '3881' '3385' '0152']


Unique values in column DISAGMOT:
[5 1 3 6 8 7 4 9]


Unique values in column MEXSTATE:
[nan 'XX' 'CO' 'NL' 'CH' 'CM' 'GT' 'JA' 'MX' 'OT' 'QT' 'SL' 'BC' 'BS' 'DF'
 'TM' 'ZA' 'DG' 'HG' 'SO' 'AG' 'MI' 'MO' 'PU' 'TL' 'VE' 'SI' 'YU' 'TB'
 'CS' 'CL' 'OA' 'QR' 'GR']


Unique values in column CANPROV:
['XB' 'XO' nan 'XA' 'XC' 'XM' 'XQ' 'XY' 'XW' 'XS' 'XN' 'XP' 'OT' 'XT' 'XV']


Unique values in column COUNTRY:
[1220 2010]


Unique values in column VALUE:
[   4660   14360 4293733 ... 5148154 1168062 4384342]


Unique values in column SHIPWT:
[       0 24971000      443 ...   663103  1823041  9137618]


Unique values in column FREIGHT_CHARGES:
[     67     282       0 ... 1634298  127050  391893]


Unique values in column DF:
[ 2.  1. nan]


Unique values in column CONTCODE:
['X' '0' '1' 0 1]


Unique values in column MONTH:
[ 4  8  2  1  7  6  3  5  9 12 11 10]


Unique values in column YEAR:
[2020 2021 2022 2023 2024]


Unique values in column COMMODITY2:
[nan  2.  3.  4. 10. 13. 19. 23. 26. 27. 29. 39. 44. 48. 62. 63. 72. 73.
 74. 76. 83. 84. 85. 86. 87. 88. 90. 94. 95. 98.  1.  5. 11. 12. 15. 16.
 17. 18. 20. 21. 25. 28. 30. 31. 32. 33. 34. 35. 38. 40. 47. 49. 54. 55.
 56. 57. 58. 59. 60. 61. 64. 65. 67. 68. 69. 70. 75. 78. 81. 82. 89. 93.
 96.  7.  8. 22. 36. 42. 51. 71. 79.  6.  9. 24. 41. 52. 53. 80. 91. 92.
 97. 14. 37. 43. 45. 46. 66. 50. 99.]

we can now crosscheck from the data dictionary and make comparisons on the unique vales

COMMODITY2 change from float to int 

(CONTCODE) Code Containerized? 
X Containerized 
0 Non-Containerized


DF from float to int

Country Code (COUNTRY) int to obj
Code Country 
1220 Canada 
2010 Mexico

Domestic/Foreign Code (DF) float to object 
Distinguishes whether the merchandise was produced in the U.S. 
Code 
1 domestically produced merchandise 
2 foreign produced merchandise

Mode of Transportation Code (DISAGMOT) int to object 
Code Description 
1 Vessel 
3 Air 
4 Mail (U.S. Postal Service) 
5 Truck 
6 Rail 
7 Pipeline 
8 Other 
9 Foreign Trade Zones (FTZs)

Month (MONTH) int to datetime 
Month Code 
Month 
1 January 
2 February 
3 March 
4 April 
5 May 
6 June 
7 July 
8 August 
9 September 
10 October 
11 November 
12 December

DEPE no need

Shipping Weight (SHIPWT) no need Weight in Kilograms

Trade Type Code (TRDTYPE) int to obj 
Code Trade Type 
1 Export 
2 Import

USASTATE no need

Value (VALUE) Value of Goods in United States Dollars

Year (YEAR) int to datetime

Freight Charges (FREIGHT_CHARGES) no need Freight Charges in U.S. Dollars

datatypes changed and unique values assigned to specific values according to data dictionary pdf

In [19]:
# Fill non-finite values in COMMODITY2 with 0 and change from float to int
combined_df['COMMODITY2'] = combined_df['COMMODITY2'].fillna(0).astype(int)

# Change CONTCODE from code to descriptive text
combined_df['CONTCODE'] = combined_df['CONTCODE'].replace({
    'X': 'Containerized',
    '0': 'Non-Containerized'
})

# Change COUNTRY from int to object and replace values
combined_df['COUNTRY'] = combined_df['COUNTRY'].astype(str).replace({
    '1220': 'Canada',
    '2010': 'Mexico'
})

# Change DF from float to object and replace values
combined_df['DF'] = combined_df['DF'].astype(str).replace({
    '1.0': 'domestic pr. merch',
    '2.0': 'foreign pr merch'
})

# Change DISAGMOT from int to object and replace values
combined_df['DISAGMOT'] = combined_df['DISAGMOT'].astype(str).replace({
    '1': 'Vessel',
    '3': 'Air',
    '4': 'Mail (U.S. Postal Service)',
    '5': 'Truck',
    '6': 'Rail',
    '7': 'Pipeline',
    '8': 'Other',
    '9': 'Foreign Trade Zones (FTZs)'
})

# Change MONTH from int to descriptive text
combined_df['MONTH'] = combined_df['MONTH'].astype(str).replace({
    '1': 'January',
    '2': 'February',
    '3': 'March',
    '4': 'April',
    '5': 'May',
    '6': 'June',
    '7': 'July',
    '8': 'August',
    '9': 'September',
    '10': 'October',
    '11': 'November',
    '12': 'December'
})

# Change TRDTYPE from int to object and replace values
combined_df['TRDTYPE'] = combined_df['TRDTYPE'].astype(str).replace({
    '1': 'Export',
    '2': 'Import'
})


# Change YEAR from datetime to object (string) format
combined_df['YEAR'] = combined_df['YEAR'].dt.year.astype(str)

# Assign the updated DataFrame to a new variable df
df = combined_df

In [21]:
# Display the updated DataFrame information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6517225 entries, 0 to 6517224
Data columns (total 15 columns):
 #   Column           Dtype
---  ------           -----
 0   TRDTYPE          object
 1   USASTATE         object
 2   DEPE             object
 3   DISAGMOT         object
 4   MEXSTATE         object
 5   CANPROV          object
 6   COUNTRY          object
 7   VALUE            int64
 8   SHIPWT           int64
 9   FREIGHT_CHARGES  int64
 10  DF               object
 11  CONTCODE         object
 12  MONTH            object
 13  YEAR             object
 14  COMMODITY2       int64
dtypes: int64(4), object(11)
memory usage: 745.8+ MB

In [22]:
df.describe()

              VALUE        SHIPWT  FREIGHT_CHARGES    COMMODITY2
count  6.517225e+06  6.517225e+06     6.517225e+06  6.517225e+06
mean   2.945795e+06  1.200403e+06     3.851583e+04  4.375757e+01
std    3.786455e+07  4.073193e+07     1.024961e+06  3.417434e+01
min    0.000000e+00  0.000000e+00     0.000000e+00  0.000000e+00
25%    1.434300e+04  0.000000e+00     0.000000e+00  6.000000e+00
50%    7.220900e+04  0.000000e+00     2.630000e+02  4.000000e+01
75%    4.345660e+05  2.391000e+03     2.900000e+03  7.900000e+01
max    5.595625e+09  9.068700e+09     2.487214e+08  9.900000e+01

In [23]:
df.head(7)

,TRDTYPE,USASTATE,DEPE,DISAGMOT,MEXSTATE,CANPROV,COUNTRY,VALUE,SHIPWT,FREIGHT_CHARGES,DF,CONTCODE,MONTH,YEAR,COMMODITY2
0,Export,AK,0115,Truck,NaN,XB,Canada,4660,0,67,foreign pr merch,Containerized,April,2020,0
1,Export,AK,0901,Truck,NaN,XO,Canada,14360,0,282,domestic pr. merch,Containerized,April,2020,0
2,Export,AK,20XX,Vessel,XX,NaN,Mexico,4293733,24971000,0,domestic pr. merch,Non-Containerized,April,2020,0
3,Export,AK,20XX,Air,NaN,XA,Canada,28283,443,563,domestic pr. merch,Containerized,April,2020,0
4,Export,AK,20XX,Air,NaN,XA,Canada,29848,69,538,foreign pr merch,Containerized,April,2020,0
5,Export,AK,20XX,Air,NaN,XC,Canada,6699,248,142,domestic pr. merch,Containerized,April,2020,0
6,Export,AK,20XX,Air,NaN,XC,Canada,9103,15,208,foreign pr merch,Containerized,April,2020,0

In [24]:
df.tail(7)

,TRDTYPE,USASTATE,DEPE,DISAGMOT,MEXSTATE,CANPROV,COUNTRY,VALUE,SHIPWT,FREIGHT_CHARGES,DF,CONTCODE,MONTH,YEAR,COMMODITY2
6517218,Import,NaN,55XX,Air,NaN,NaN,Canada,422855,2,500,nan,1,September,2024,98
6517219,Import,NaN,55XX,Air,NaN,NaN,Mexico,1168062,6836,38564,nan,Non-Containerized,September,2024,98
6517220,Import,NaN,55XX,Truck,NaN,NaN,Canada,4384342,7399,1883,nan,Non-Containerized,September,2024,98
6517221,Import,NaN,55XX,Other,NaN,NaN,Canada,50211,6350,3500,nan,Non-Containerized,September,2024,98
6517222,Import,NaN,60XX,Other,NaN,NaN,Canada,793390,80,500,nan,Non-Containerized,September,2024,89
6517223,Import,NaN,70XX,Other,NaN,NaN,Canada,233990301,0,0,nan,Non-Containerized,September,2024,99
6517224,Import,NaN,70XX,Other,NaN,NaN,Mexico,224981722,0,0,nan,Non-Containerized,September,2024,99

re-check uniques values

In [25]:
# Check unique values for each column
for column in combined_df.columns:
    unique_values = combined_df[column].unique()
    print(f"Unique values in column {column}:")
    print(unique_values)
    print("\n")

Unique values in column TRDTYPE:
['Export' 'Import']


Unique values in column USASTATE:
['AK' 'AL' 'AR' 'AZ' 'CA' 'CO' 'CT' 'DC' 'DE' 'DU' 'FL' 'GA' 'HI' 'IA'
 'ID' 'IL' 'IN' 'KS' 'KY' 'LA' 'MA' 'MD' 'ME' 'MI' 'MN' 'MO' 'MS' 'MT'
 'NC' 'ND' 'NE' 'NH' 'NJ' 'NM' 'NV' 'NY' 'OH' 'OK' 'OR' 'PA' 'RI' 'SC'
 'SD' 'TN' 'TX' 'UT' 'VA' 'VT' 'WA' 'WI' 'WV' 'WY' nan]


Unique values in column DEPE:
['0115' '0901' '20XX' '2303' '2304' '2305' '2408' '2506' '3001' '3004'
 '3009' '3023' '30XX' '3101' '3103' '3104' '3106' '3126' '31XX' '3310'
 '3613' '3801' '3802' '4101' '4102' '41XX' '70XX' '0106' '01XX' '0701'
 '0708' '0712' '07XX' '09XX' '10XX' '17XX' '18XX' '19XX' '2006' '2301'
 '2310' '2401' '2402' '2403' '2404' '2503' '2507' '2601' '2604' '2608'
 '27XX' '3019' '3302' '33XX' '3401' '3403' '3422' '34XX' '3501' '35XX'
 '3604' '3803' '38XX' '5201' '5203' '52XX' '0209' '02XX' '0704' '3301'
 '3424' '5301' '55XX' '0715' '11XX' '24XX' '2501' '2603' '2605' '2606'
 '26XX' '2720' '2801' '29XX' '3011' '3020' '3318' '4115' '53XX' '0101'
 '0102' '0110' '0212' '13XX' '2302' '2307' '2504' '2505' '25XX' '2602'
 '2704' '28XX' '3002' '3003' '3005' '3007' '3008' '3013' '3025' '32XX'
 '3304' '3308' '3316' '3322' '3405' '3408' '3805' '3809' '3819' '3901'
 '39XX' '4105' '4110' '49XX' '5501' '3307' '45XX' '0104' '0211' '04XX'
 '1012' '1704' '80XX' '51XX' '0118' '0127' '14XX' '16XX' '3410' '36XX'
 '3808' '0108' '3306' '0105' '1003' '3012' '3321' '3323' '3404' '3014'
 '3423' '37XX' '3804' '0201' '0417' '2007' '3102' '0103' '0107' '0109'
 '0203' '0206' '3016' '3022' '3409' '3425' '3426' '3430' '3305' '3406'
 '3421' '3814' '1902' '3010' '3309' '3317' '0714' '15XX' '21XX' '54XX'
 '3407' '3413' '3414' '3415' '3416' '3417' '3419' '3420' '0207' '0904'
 '2406' '4104' '0112' '2383' '3701' '4103' '0121' '05XX' '2309' '23XX'
 '3303' '59XX' '3017' '3815' '3026' '3029' '3111' '1603' '3411' '3807'
 '3015' '4504' '1303' '3806' '0906' '3816' '0131' '0903' '1502' '3006' nan
 '2609' '3325' '0706' '3105' '3115' '60XX' '3427' '3324' '3384' '3842'
 '3018' '3818' '3882' '0905' '3433' '0182' '2481' '3082' '2407' '2502'
 '3843' '3434' '0111' '3881' '3385' '0152']


Unique values in column DISAGMOT:
['Truck' 'Vessel' 'Air' 'Rail' 'Other' 'Pipeline'
 'Mail (U.S. Postal Service)' 'Foreign Trade Zones (FTZs)']


Unique values in column MEXSTATE:
[nan 'XX' 'CO' 'NL' 'CH' 'CM' 'GT' 'JA' 'MX' 'OT' 'QT' 'SL' 'BC' 'BS' 'DF'
 'TM' 'ZA' 'DG' 'HG' 'SO' 'AG' 'MI' 'MO' 'PU' 'TL' 'VE' 'SI' 'YU' 'TB'
 'CS' 'CL' 'OA' 'QR' 'GR']


Unique values in column CANPROV:
['XB' 'XO' nan 'XA' 'XC' 'XM' 'XQ' 'XY' 'XW' 'XS' 'XN' 'XP' 'OT' 'XT' 'XV']


Unique values in column COUNTRY:
['Canada' 'Mexico']


Unique values in column VALUE:
[   4660   14360 4293733 ... 5148154 1168062 4384342]


Unique values in column SHIPWT:
[       0 24971000      443 ...   663103  1823041  9137618]


Unique values in column FREIGHT_CHARGES:
[     67     282       0 ... 1634298  127050  391893]


Unique values in column DF:
['foreign pr merch' 'domestic pr. merch' 'nan']


Unique values in column CONTCODE:
['Containerized' 'Non-Containerized' '1' 0 1]


Unique values in column MONTH:
['April' 'August' 'February' 'January' 'July' 'June' 'March' 'May'
 'September' 'December' 'November' 'October']


Unique values in column YEAR:
['2020' '2021' '2022' '2023' '2024']


Unique values in column COMMODITY2:
[ 0  2  3  4 10 13 19 23 26 27 29 39 44 48 62 63 72 73 74 76 83 84 85 86
 87 88 90 94 95 98  1  5 11 12 15 16 17 18 20 21 25 28 30 31 32 33 34 35
 38 40 47 49 54 55 56 57 58 59 60 61 64 65 67 68 69 70 75 78 81 82 89 93
 96  7  8 22 36 42 51 71 79  6  9 24 41 52 53 80 91 92 97 14 37 43 45 46
 66 50 99]